@font-face {
    font-family: SauceCodeProNFM;
    src: url("/fonts/SauceCodeProNFM.woff2");
    font-display: swap;
}

html {
    overflow-y: scroll;
    /* Force vertical scrollbar track constantly so long notes don't shift layout */
    background-color: #111111;
    color: #dbdbdb;
}

:root {
    /* if you want to change the theme of site, configure this palatte using gpitty (coz i know you won't do it manually) */
    --color-bg: #111111;
    --color-text-main: #ffffff;
    --color-text-primary: #dbdbdb;
    --color-text-muted: #999999;
    --color-text-hover: #f4f4f4;
    --color-border: #333333;
    --color-bg-alt: #1a1a1a;

    --color-tech-stack: #999999;
    --color-tech-stack-span: #e0e0e0;
    --color-loading: #ffffff;

    --color-brand-github: #ffffff;
    --color-brand-twitter: #ffffff;
    --color-brand-linkedin: #0077b5;
    --color-brand-telegram: #2AABEE;
    --color-brand-discord: #5865F2;
    --color-brand-bluesky: #1185fe;
    --color-brand-email: yellow;
    --color-brand-spotify: green;
}

body {
    margin: 0;
    min-height: 100dvh;
    overflow-x: hidden;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SauceCodeProNFM", sans-serif;
    font-weight: 400;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
}