---
import Home from "../layouts/home.astro";
---


<div class="temp">
	<Home>
		<p> work in progress.</p>
	</Home>
</div>

<style>
.temp {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
