---
import Home from "../layouts/home.astro";
import Footer from "../components/footer.astro";
import Socials from "../components/socials.astro";
---

<Home>
	<section class="profile-section">
		<div class="name-container">
			<h1 class="author-name">
				<a class="author-name" href="#">seivarya</a>
			</h1>
		</div>

		<a class="author-role" href="#">backend developer</a>
	</section>
	<section class="mid-section">
		<div class="intro-section">
			<p>
				hey, it's shivang. i am a backend developer (i think).
				currently working with some low level stuff. while also working freelance in web.
				in my free time, you'll usually find me writing , playing chess, or reading books. i'm currently working with:
			</p><br />
		</div>

		<div class="tech-stack-section">

			<span>c</span> · <span>python</span> · <span>node.js</span> · <span>git</span> · <span>neovim</span> · <span>arch</span> · <span>postgres</span><br /><br /><br />
		</div>
		<div class="end-section">
			If you want to work together, or have some feedback regarding any of my projects, 
			shoot me a mail at 
			<a href="mailto:hey@seivarya.in">hey@seivarya.in</a>
		</div>

	</section>
	<Socials/>
	<Footer />
</Home>

<style>
.end-section {
	margin-bottom:40px;
}
a {
	color: unset;
}
.mid-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tech-stack {
	margin-top: 3px;
	font-size: 1.9rem;
	text-align: left;
	color: #6b7280;
}
.tech-stack span {
	color: #9aa3b2;
	font-size: 1.9rem;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.tech-stack-section {
	margin-top: 1px;
	text-align: left;
}
.profile-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.name-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.author-name {
	margin: 0;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5rem;
	color: #e5e9f0;
	letter-spacing: 0.5px;
}
.author-role  {
	margin-top: 15px;
	width: fit-content;
	text-decoration: none;
	border-bottom: 1px solid #4b5263;
	color: #7b8496;
	font-weight: 300;
	font-size: 1.1rem;
	cursor: context-menu;
}
.author-role: hover {
	color: white;
}

.intro-section {
	margin-top: 20px;
	line-height: 1.7;
	color: #a0a8ba;
	width: 100%;
	margin-bottom: 0px;
}
.intro-section p {
	margin: 0;
}
</style>
