---
import Home from "../layouts/Home.astro";
import Clock from "../components/Clock.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Home>
    <div class="top-section">
        <img src="/self.png" width="70" height="70" />
        <p>hey it's seivarya / sivank, i am a backend dev (i think)</p>
    </div>
</Home>
