---
import Home from "../layouts/home.astro";
import Footer from "../components/footer.astro";
---

<Home>
	<section class="profile-section">
		<div class="name-container">
			<h1 class="author-name">
				<a class="author-name" href="#">seivarya</a>
			</h1>
		</div>

		<a class="author-role" href="#">backend developer</a>
	</section>

	<div class="intro-section">
		<p>
			"_very shitty intro i should write a better one_"<br>
			hey it's seivarya / sivank, i am a backend developer (i think)
			currently working with some low level stuff. while also working freelance in web developement 
			in my free time, you'll usually find me writing notes, drawing arts (rarely), or playing chess.
		</p><br /><br />
	</div>

	<Footer />
</Home>

<style>
.profile-section {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.name-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.author-name {
	margin: 0;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5rem;
	color: #e5e9f0;
	letter-spacing: 0.5px;
}
.author-role {
	width: fit-content;
	text-decoration: none;
	border-bottom: 1px solid #4b5263;
	color: #7b8496;
	font-weight: 300;
	font-size: 1.1rem;
}
.intro-section {
	margin-top: 30px;
	line-height: 1.7;
	color: #a0a8ba;
	width: 100%;
}
.intro-section p {
	margin: 0;
}
</style>
