---

---

<div id="clock-container">
	<span id="current-time">--:--:--</span>
	<span id="gmt">| GMT+5:30</span>
</div>

<style>
	#clock-container {
		display: flex;
		align-items: center;
		gap: 6px;
		color: #7b8496;
		font-family: inherit;
	}
</style>
<script is:inline>
	function clockTime() {
		const now = new Date();

		const seconds = now.getSeconds();
		const minutes = now.getMinutes();
		const hours = now.getHours();

		const timeDisplay = document.getElementById("current-time");
		const gmtDisplay = document.getElementById("gmt");
		if (!timeDisplay || !gmtDisplay) {
			console.log("not found");
			return;
		}

		timeDisplay.textContent =
			("0" + hours).slice(-2) +
			":" +
			("0" + minutes).slice(-2) +
			":" +
			("0" + seconds).slice(-2);
	}
	clockTime();
	setInterval(clockTime, 1000);
</script>
