---
import Clock from "./Clock.astro";
import Navigation from "./Navigation.astro";
---

<header class="top-bar">
	<span class="est-badge">EST. 2005</span>
	<div class="clock-display">
		<svg class="clock" fill="var(--color-text-muted)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 6 L 11 12.414062 L 15.292969 16.707031 L 16.707031 15.292969 L 13 11.585938 L 13 6 L 11 6 z"/></svg>
		<Clock />
	</div>
</header>

<div class="nav-container">
	<div class="avatar-container">
		<a href="/" class="avatar-link" aria-label="home" style="display: contents;">
			<img class="avatar-image" src="/self.png" width="90" height="90" alt="avatar" />
		</a>
		<Navigation/>
	</div>
</div>

<style>

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: 1.5px;
	margin-bottom: 60px;
	font-size: 0.95rem;
	width: 100%;
}
.est-badge {
	color: var(--color-text-muted);
}
.clock-display {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-text-muted);
}
.clock-display img {
	opacity: 0.8;
}
.avatar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 40px;
}
.avatar-image {
	filter: contrast(110%);
	border-radius: 10px;
	object-fit: cover;
}

@media (max-width: 826px) {
	.top-bar {
		margin-bottom: 40px;
	}
	.nav-container {
		justify-content: center;
	}

	.avatar-container {
		display: flex;
		flex-direction: row;
		gap: 50px;
	}
}
</style>
