---

---

<nav class="nav-bar">
	<div class="nav-row">
		<a href="/">home</a>
		<a href="/projects" data-astro-prefetch="hover">projects</a>
		<a href="/notes" data-astro-prefetch="hover">notes</a>
	</div>
	<div class="nav-row">
		<a href="/writings" data-astro-prefetch="hover">writings</a>
		<a href="/arts" data-astro-prefetch="hover">arts</a>
	</div>
</nav>
