
<nav class="nav-bar">
	<a href="/projects">projects</a>
	<a href="/writings">writings</a>
	<a href="/notes">notes</a>
	<a href="/arts">arts</a>
</nav>

<style>
    a {
        color: #7b8496;
        text-decoration: none;
        border-bottom: 1px solid #4b5263;
    }

    .nav-bar {
	    display: flex;
	    justify-content: flex-start;
	    gap: 65px;
	    margin-bottom: 35px;
	    width: 100%;
    }
    .nav-bar:hover {
	    opacity: 1;
    }
</style>
