<nav class="nav-bar">
    <a href="">projects</a>
    <a href="">writings</a>
    <a href="">notes</a>
    <a href="">arts</a>
</nav>

<style>
    a {
        color: #7b8496;
        text-decoration: none;
        border-bottom: 1px solid #4b5263;
    }

    .nav-bar {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 25px;
    }
</style>
