---
import Home from "../layouts/home.astro";
import { mdxOverrides } from "./mdx/Overrides";
import "../styles/mdx.css";

const { data, content } = Astro.props;
const Content = content;
---

<!-- structure of the <post> content -->
<div class="post-container">
	<Home>
		<h2 class="post-heading">{data.title}</h2>
		<article class="post-data">
			<Content components={mdxOverrides} />
		</article>
	</Home>
</div>

<style>
	.post-container {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		height: auto;
		justify-content: center;
	}
	.post-data {
		color: var(--color-text-primary);
	}

	.post-heading {
		display: flex;
		justify-content: center;
		color: var(--color-text-main);
	}
</style>
