---
import Header from "../components/header.astro";
import Navigation from "../components/navigation.astro";
import Socials from "../components/socials.astro";
import "../styles/global.css";
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>seivarya</title>
		<link rel="icon" href="/self.png" />
	</head>

	<body>
		<div class="main-container">
			<Header />
			<slot />
		</div>
		<script>
			// disable right click context menu, coz it looks cool
			document.addEventListener("contextmenu", (event) => {
				event.preventDefault();
			}) 
		</script>
	</body>
</html>

<style>
	.main-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		width: 75vw;
		max-width: 720px;
		color: var(--color-text-muted);
		padding: 20px 10px;
		margin: 0 auto;
	}

	@media (max-width: 768px) {
		.main-container {
			width: 80vw;
			padding: 24px 0;
		}
	}
</style>
