<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
    </head>

    <body>
        <slot />
    </body>
</html>

<style>
    @font-face {
        font-family: SauceCodeProNFM;
        src: url("../assets/fonts/SauceCodeProNFM.ttf");
    }
    body {
        background-color: #121212;
        color: white;
    }
</style>
