---
import Header from "../components/header.astro";
import Navigation from "../components/navigation.astro";
import Socials from "../components/socials.astro";
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<div class="main-container">
			<Header />
			<slot />
		</div>
	</body>
</html>

<style>
@font-face {
	/* TODO: decide on one font-family */
	font-family: SauceCodeProNFM;
	src: url("../assets/fonts/SauceCodeProNFM.ttf");
	font-family: OpenSans;
	src: url("../assets/fonts/OpenSans.ttf");
}
body {
	margin: 0;
	min-height: 100vh;
	background-color: #121212;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SauceCodeProNFM";
}
.main-container {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	width: 70vw;
	max-width: 700px;
	color: #7b8496;
	padding: 40px 0;
	margin: 0 auto;
}
</style>
